{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-10">
        <div id="survey">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title" id="survey-title-heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#survey-title" aria-expanded="false" aria-controls="collapseThree">Name & Beschreibung der Umfrage</a>
                    </h4>
                </div>

                <div id="survey-title" class="panel-collapse collapse{% if not survey %} in{% endif %}" role="tabpanel" aria-labelledby="survey-title-heading">
                    <div class="panel-body">
                        {{ form(surveyTitleForm) }}
                    </div>
                </div>
            </div>

            {% if survey %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" id="questions-heading">
                            Umfrageelemente
                        </h4>
                    </div>

                    <div class="panel-collapse collapse in">
                        <div class="panel-body noselect" id="survey-elements">
                            <div class="panel-group sortable draggable-connect">
                                {% for surveyItem in survey.surveyItems %}
                                    {% include '@AppBundle/Survey/Partials/surveyItem.html.twig' with { 'surveyItem' : surveyItem } %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title" id="resultranges-heading">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#survey-resultranges" aria-expanded="false" aria-controls="collapseThree">Ergebnisse bearbeiten</a>
                        </h4>
                    </div>

                    <div id="survey-resultranges" class="panel-collapse collapse" role="tabpanel" aria-labelledby="resultranges-heading">
                        <div class="panel-body">
                            maximal erreichbare Punktzahl: 100
                            <div class="form-row">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary" id="add-resultrange">Ergebnis hinzufügen</a>
                        </div>
                    </div>
                </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title" id="widget-code-heading">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#survey-widget-code" aria-expanded="false" aria-controls="collapseThree">Code zum
                            Einbetten in die Webseite</a>
                    </h4>
                </div>

                <div id="survey-widget-code" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="widget-code-heading">
                    <div class="panel-body">
                            <pre>
                                {{- '<div id="js-st-surveythor-container"></div>'|e('html') }}
                                <br>
                                {{- include('@AppBundle/Result/widget.html.twig', {'survey': survey})|e('html') -}}
                            </pre>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-2" id="survey-tools">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Umfrageelemente anlegen
                    </h4>
                </div>

                <div id="info-panel" class="panel-collapse collapse in">
                    <div class="panel-body" id="new-items">
                        <div
                                class="new-item single-choice btn"
                                data-url="{{ path('survey_item_new', {'type' : 'singleChoice', 'survey' : survey.id }) }}"
                                data-itemgroup-add-item-url="{{ path('item_group_add_item', {'type' : 'singleChoice', 'survey' : survey.id }) }}"
                        >
                            Single Choice Frage
                        </div>
                        <div
                                class="new-item multiple-choice btn"
                                data-url="{{ path('survey_item_new', {'type' : 'multipleChoice', 'survey' : survey.id }) }}"
                                data-itemgroup-add-item-url="{{ path('item_group_add_item', {'type' : 'multipleChoice', 'survey' : survey.id }) }}"
                        >
                            Multiple Choice Frage
                        </div>
                        <div
                                class="new-item text-question btn"
                                data-url="{{ path('survey_item_new', {'type' : 'textQuestion', 'survey' : survey.id }) }}"
                                data-itemgroup-add-item-url="{{ path('item_group_add_item', {'type' : 'textQuestion', 'survey' : survey.id }) }}"
                        >
                            Freitext Frage
                        </div>
                        <div
                                class="new-item text-element btn"
                                data-url="{{ path('survey_item_new', {'type' : 'textItem', 'survey' : survey.id }) }}"
                                data-itemgroup-add-item-url="{{ path('item_group_add_item', {'type' : 'textItem', 'survey' : survey.id }) }}"
                        >
                            Textelement
                        </div>
                        <div
                                class="new-item item-group btn"
                                data-url="{{ path('survey_item_new', {'type' : 'itemGroup', 'survey' : survey.id }) }}"
                                data-itemgroup-add-item-url="{{ path('item_group_add_item', {'type' : 'itemGroup', 'survey' : survey.id }) }}"
                        >
                            Gruppe von Elementen
                        </div>
                    </div>
                </div>
            </div>

            <div id="action-visualizer">
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('build/survey.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}
