{# result \PM\SurveythorBundle\Entity\Result #}
{# resultItem \PM\SurveythorBundle\Entity\ResultItem #}
{# survey \PM\SurveythorBundle\Entity\Survey #}

{% extends '::base.html.twig' %}

{% block body %}
    <h4>{{ survey.title }}</h4>
    <p class="well">
        {{ survey.description }}
    </p>
    <p>
        Die Umfrage wurde {{ survey.getResults|length }} mal durchgeführt
    </p>

    {% for result in survey.getResults|reverse %}
        <hr>
        <b>{{ result.id }}</b>
        {% for resultItem in result.getResultItems if resultItem.singleChoiceAnswer.choice.value is defined %}
            <ul>
                {#<li>{{ resultItem.title }}</li>#}
                {#<li>{{ resultItem.singleChoiceAnswer.question.title }}</li>#}
                <li>BackendTitile: {{ resultItem.singleChoiceAnswer.question.backendTitle }}</li>
                <li>Fragetype: {{ resultItem.singleChoiceAnswer.question.contentTypeName }}</li>
                {#<li>{{ resultItem.singleChoiceAnswer.question.displayTitle }}</li>#}
                {#<li>{{ resultItem.singleChoiceAnswer.question.description }}</li>#}
                {#<li>{{ resultItem.singleChoiceAnswer.question.template }}</li>#}
                <li>
                    {{ resultItem.singleChoiceAnswer.choice.text }}
                    ({{ resultItem.singleChoiceAnswer.choice.value }})
                </li>
                {#<li>{{ resultItem.singleChoiceAnswer.id }}</li>#}
                {#<li></li>#}
                {#<li></li>#}
                {#<li></li>#}
                {#<li></li>#}

            </ul>
            <hr>
        {% else %}
            - nicht ausgefüllt
        {% endfor %}
    {% endfor %}

    <table class="table">
        <tr>
            <th class="col-md-1">#</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Datum</th>
            <th>Punkte</th>
            <th>pdf</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ random(+'now'|date('U'))|date('Y-m-d') }}</td>
                <td>{{ random(10) }}</td>
                <td><a>link</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
