{% extends '::base.html.twig' %}

{% block body %}
    {% for survey in surveys %}
        <div>
            <h4>{{ survey.title }}</h4>
            <p class="well">
            {{ survey.description }}<br />
                Link zur Umfrage: {{ absolute_url('result_new', {'id' : survey.id }) }}
            </p>
            <p>
            </p>
            <a href="{{ path('survey_edit', {'id' : survey.id}) }}" class="btn btn-default">Umfrage bearbeiten</a>
            <a href="{{ path('result_new', {'id' : survey.id }) }}" class="btn btn-default">Umfrage durchführen</a>
            <a href="" class="btn btn-default">Auswertungen ansehen</a>
            <a href="" class="btn btn-danger pull-right">Umfrage löschen</a>
        </div>
    <hr />
    {% endfor %}
    <a href="{{ path('survey_new') }}" class="btn btn-primary">neue Umfrage erstellen</a>
{% endblock %}
