{% block question_collection_widget %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {% for child in form %}
            <div class="panel panel-default question">
                <div class="panel-heading" role="tab">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-question-{{ child.vars.id }}" aria-expanded="true" aria-controls="collapse-question-{{ child.vars.id }}">
                                {% if child.vars.value.text is defined %}
                                    {{ child.vars.value.text }}
                                {% endif %}
                                {% if child.vars.value.header is defined %}
                                    {{ child.vars.value.header }}
                                {% endif %}
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right question-toolbox">
                                <a href="#" class="move-panel">
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                </a>
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                                <a href="#" class="remove-panel">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse-question-{{ child.vars.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-question-{{ child.vars.id }}">
                    <div class="panel-body">
                        {{- form_row(child) -}}
                    </div>
                </div>
            </div>
        {% endfor %}
        {{- form_rest(form) -}}
    </div>
{% endblock %}

{% block choice_collection_widget %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {% for child in form %}
            <div class="panel panel-default answer">
                <div class="panel-heading" role="tab">
                    {{ child.vars.value.text }}
                </div>
                <div id="collapse-answer-{{ child.vars.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{- form_row(child) -}}
                    </div>
                </div>
            </div>
        {% endfor %}
        {{- form_rest(form) -}}
    </div>
    <a href="#">Antwort hinzufügen</a>
{% endblock %}

{% block resultrange_collection_widget %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {% for child in form %}
            <div class="panel panel-default question">
                <div class="panel-heading" role="tab">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-resultrange-{{ child.vars.id }}" aria-expanded="true" aria-controls="collapse-resultrange-{{ child.vars.id }}">
                                    {{ child.vars.value.start }} - {{ child.vars.value.stop }}
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right question-toolbox">
                                <a href="#" class="remove-panel">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse-resultrange-{{ child.vars.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-resultrange-{{ child.vars.id }}">
                    <div class="panel-body">
                        {{- form_row(child) -}}
                    </div>
                </div>
            </div>
        {% endfor %}
        {{- form_rest(form) -}}
    </div>
{% endblock %}

{% block resultitem_collection_widget %}
    {% for child in form %}
        {% if child.vars.value.surveyItem is defined and child.vars.value.surveyItem.displayTitle %}
            <u>{{ child.vars.value.surveyItem.title }}</u>
        {% endif %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{%- block choices_horizontal_widget -%}
    {% set attr = attr|merge({ 'class' : 'clearfix' }) %}
    {% set type = form.parent.vars.data.question.type %}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <div class="pull-left">
                    <div class="text-center" style="border: 1px solid #e7e7e7; margin-right: 8px; padding: 4px;">
                        <div>{{ child.vars.label }}</div>
                        {% if type == "sc" %}
                            <input type="radio" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} />
                        {% else %}
                            <input type="checkbox" {{ block('widget_attributes') }}{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}{% if child.vars.checked %} checked="checked"{% endif %} />
                        {% endif %}
                    </div>
                </div>
            {% endfor -%}
        </div>
{%- endblock -%}

{% block choices_children_below_widget %}
    {% set attr = attr|merge({ 'class' : 'clearfix' }) %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}

        <div class="clearfix row">
        {% for child in form.children %}
            <div class="pull-left col-md-2">
                {{- form_widget(child) -}}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block pm_surveythor_textitem_widget %}
    <p>{{ value.text }}</p>
{% endblock %}

{% block surveyitem_widget %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ _self.surveyItem(form) }}
        </div>
    </div>
{% endblock %}

{% macro surveyItem(form, isChild = 'false') %}
    {% import _self as self %}

    {% if isChild == 'true' %}
    <div class="panel panel-default survey-item">
        <div class="panel-heading">
            <span class="panel-title clearfix" id="questions-heading">
                <span class="pull-left">
                    {{ form.vars.value.backendTitle }}
                </span>
                <span class="pull-right">
                    {{ form.vars.value.contentTypeName }}
                </span>
            </span>
        </div>

        <div id="item-{{ form.vars.value.id }}" class="panel-collapse collapse">
            <div class="panel-body">
    {% endif %}

    {% if form.text is defined %}
        {% if form.text is not null %}
            {{ form_row(form.text) }}
        {% endif %}
    {% endif %}

    {% if form.choices is defined %}
        {% if form.choices is not null %}
            {{ form_row(form.choices) }}
        {% endif %}
    {% endif %}

    {% if form.textItem is defined %}
        {{ form_row(form.textItem) }}
    {% endif %}

    {% if form.children.surveyItems is defined %}
            <div class="sortable">
        {% for child in form.children.surveyItems %}
            {{ self.surveyItem(child, 'true') }}
        {% endfor %}
            </div>
    {% endif %}

    {#% if form.vars.value.itemType == 'itemGroup' %}
        <div class="droppable new-group-element">
            ziehen sie neue Elemente in diesen Bereich
        </div>
    {% endif %#}


    <hr />

    <div class="panel panel-default settings">
        <div class="panel-heading">
            <span class="panel-title clearfix" id="questions-heading">
                erweiterte Einstellungen
            </span>
        </div>

        <div id="item-{{ form.vars.value.id }}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.displayTitle) }}
                    </div>
                </div>

                {{ form_row(form.description) }}

                <hr />

                {{ form_row(form.conditions) }}
                <a href="#">Bedingung hinzufügen</a>

                <hr />
                {{ form_rest(form) }}
            </div>
        </div>
    </div>

    {% if isChild == 'true' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
