<div class="panel panel-default parent-item survey-item" data-sortorder-url="{{ path('surveyitem_set_sortorder', {'item':item.id})}}">
    <div class="panel-heading">
        <span class="panel-title clearfix">
            <span class="pull-left item-title panel-indicator">
                <a class="item-title clearfix " href="{{ path('surveyitem_form', {'item' : item.id }) }}">
                    <span class="pull-left">
                        <span class="panel-indicator-bottom">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </span>
                        <span class="panel-indicator-top">
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </span>
                    </span>
                    &nbsp;<span class="item-title-text">{{ item.backendTitle }}</span>
                </a>
            </span>
            <span class="pull-right">
                {{ item.contentTypeName }}
                |
                <a href="{{ path('surveyitem_remove', {'item' : item.id}) }}" class="item-delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </span>
        </span>
    </div>

    <div id="item-{{ item.id }}" class="panel-collapse collapse parent-item">
        {% if form is defined %}
            {{ form_widget(form) }}
        {% endif %}
    </div>
</div>
