{# result \PM\SurveythorBundle\Entity\Result #}
{# survey \PM\SurveythorBundle\Entity\Survey #}
{# item \PM\SurveythorBundle\Entity\SurveyItem #}

<h2>{{ survey.getTitle }}</h2>
<hr/>

<div id="result">
    {% if item.header is defined %}
        <h4>{{ item.header }}</h4>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}
    <button
            class="btn btn-default js-st-survey-next"
            data-next-url="{{ url('result_next', { 'survey' : survey.getId, 'surveyItem' : item.id, 'result': result.getId }, true) }}"
    >
        weiter
    </button>
</div>
