{% extends '::base.html.twig' %}

{% block body %}
    <h4>{{ survey.title }}</h4>

    <div id="result">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/result.bundle.js') }}"></script>
{% endblock %}
