{% extends '::base.html.twig' %}

{% block body %}
    <h4>{{ survey.title }}</h4>

    <div id="result">
        {{ form_start(form) }}
        {#
        {% for answer in form.answers %}
            <div>
                {% set question = answer.vars.value.question %}
                {{ question.text }}
                {{ form_row(answer) }}
            </div>
        {% endfor %}
        #}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/result.bundle.js') }}"></script>
{% endblock %}
