{% extends '::base.html.twig' %}

{% block body %}
    <h4>{{ survey.title }}</h4>

    {{ form_start(form) }}
    {% for resultAnswer in form.resultAnswers %}
        <div>
            {% set question = resultAnswer.vars.value.question %}
            {{ question.text }}
            {{ form_row(resultAnswer) }}
        </div>
    {% endfor %}
    {{ form_end(form) }}
{% endblock %}
