{% extends '::base.html.twig' %}

{# survey \PM\SurveythorBundle\Entity\Survey #}

{% block navbar %}{% endblock %}
{% block body %}

    <h3>{{ survey.title }}</h3>

    <div id="js-st-surveythor-container" style="border: 1px solid grey; padding: 12px;"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('build/frontend.js') }}"></script>
    <script type="application/javascript">
        var params = {
            surveyId: {{ survey.getId }},
            surveythorHost: '{{ surveythorHost }}'
        };

        Surveythor(params);
    </script>
{% endblock %}

