{% if header is defined %}
    {{ header }}
{% endif %}

{% if formgroup is defined %}
    {{ form_start(formgroup) }}
    {{ form_errors(formgroup) }}
    {% for answer in formgroup.children.answers %}
        <b>{{ answer.vars.value.question.text }}</b>
        {{ form_errors(answer) }}
        {{ form_row(answer) }}
    {% endfor %}
    {{ form_end(formgroup) }}
{% endif %}

{% if form is defined %}
    <b>{{ form.vars.value.question.text }}</b>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form(form) }}
    {{ form_end(form) }}
{% endif %}

{% if text is defined %}
    <p>
        {{ text }}
    </p>
{% endif %}


<button
    class="btn btn-default"
    id="survey-next"
    data-next-url="{{ path('result_next', { 'id' : app.session.get('survey').id, 'item' : item.id }) }}"
>
    weiter
</button>
