{# result \PM\SurveythorBundle\Entity\Result #}
{# survey \PM\SurveythorBundle\Entity\Survey #}
{# surveyItem \PM\SurveythorBundle\Entity\SurveyItem #}

<div class="st-h1">{{ survey.getTitle }}</div>

{% if surveyItem.displayTitle %}
    <div class="st-h2">{{ surveyItem.title }}</div>
{% endif %}

{% if surveyItem.description %}
    <p class="st-description">{{ surveyItem.description }}</p>
{% endif %}

{{ form_start(form) }}
{{ form(form) }}
{{ form_end(form) }}

<div class="clearfix"></div>

{% if result.survey.getPrevItem(surveyItem) %}
    <button
            class="btn btn-default st-button pull-left js-st-survey-button"
            data-url="{{ url('result_prev', { 'surveyItem' : surveyItem.getId, 'result': result.getId }, true) }}"
    >
        zurück
    </button>
{% endif %}
{% if not isLast %}
    <button
            class="btn btn-default st-button pull-right js-st-survey-button"
            data-url="{{ url('result_next', { 'surveyItem' : surveyItem.getId, 'result': result.getId }, true) }}"
    >
        weiter
    </button>
{% else %}
    <button
            class="btn btn-default st-button pull-right js-st-survey-button"
            data-url="{{ url('result_last', { 'surveyItem' : surveyItem.getId, 'result': result.getId }, true) }}"
    >
        fertigstellen
    </button>
{% endif %}

<div class="clearfix"></div>
