{# result \PM\SurveythorBundle\Entity\Result #}
{# survey \PM\SurveythorBundle\Entity\Survey #}
{# item \PM\SurveythorBundle\Entity\SurveyItem #}

{% if item.displayTitle %}
    <h4>{{ item.title }}</h4>
{% endif %}

<p>{{ item.description }}</p>

{{ form_start(form) }}
{{ form(form) }}
{{ form_end(form) }}

{% if not isLast %}
    <button
            class="btn btn-default js-st-survey-next"
            data-next-url="{{ url('result_next', { 'surveyItem' : item.getId, 'result': result.getId }, true) }}"
    >
        weiter
    </button>
{% else %}
    <button
            class="btn btn-default js-st-survey-next"
            data-next-url="{{ url('result_last', { 'surveyItem' : item.getId, 'result': result.getId }, true) }}"
    >
        fertigstellen
    </button>
{% endif %}
