{% if item.displayTitle %}
    <h4>{{ item.title }}</h4>
{% endif %}

<p>{{ item.description }}</p>

{{ form_start(form) }}
{{ form(form) }}
{{ form_end(form) }}

<button
    class="btn btn-default"
    id="survey-next"
    data-next-url="{{ path('result_next', { 'id' : app.session.get('survey').id, 'surveyItem' : item.id }) }}"
>
    weiter
</button>
