{% macro renderResultItem(item) %}
    {% import _self as self %}
    {% if item.surveyItem.displayTitle %}
        <b>{{ item.surveyItem.title }}</b><br />
    {% endif %}

    {% if item.singleChoiceAnswer is not null %}
    <u>{{ item.singleChoiceAnswer.question.text }}</u><br />
        {{ item.singleChoiceAnswer.choice.text }}<br />
    {% endif %}

    {% if item.multipleChoiceAnswer is not null %}
        <u>{{ item.multipleChoiceAnswer.question.text }}</u><br />
        <ul>
        {% for choice in item.multipleChoiceAnswer.choices %}
            <li>{{ choice.text }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if item.textAnswer is not null %}
        <u>{{ item.textAnswer.question.text }}</u>
        <p>{{ item.textAnswer.value}}</p>
    {% endif %}

    {% if item.textItem is not null %}
        <div class="well well-sm"><i>{{ item.textItem.text }}</i></div>
    {% endif %}

    {% if item.childItems|length > 0 %}
        {% for item in item.childItems %}
            {{ self.renderResultItem(item) }}
        {% endfor %}
    {% endif %}

{% endmacro %}


